html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  text-shadow: 0px 0px 5px #fff;
  font-family: Georgia;
  overflow: hidden;
}

a {
  color: darkblue;
}

h1 {
  font-size: 100px;
  font-weight: normal;
  margin: 0;
  padding: 5px 40px;
}

p {
  margin: 0;
  padding: 5px 40px;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
}

#main {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

#container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: #fff;
  color: #000;
  position: absolute;
  z-index: 999;

  -webkit-animation-name: sooth;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: sooth;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes sooth {
  0%   {background-color: #fff;}
  50%  {background-color: #bcbcbc;}
  100% {background-color: #fff}
}

@-webkit-keyframes sooth {
  0%   {background-color: #fff;}
  50%  {background-color: #bcbcbc;}
  100% {background-color: #fff}
}
